<h2 mat-dialog-title>Registrar Nuevo Cliente</h2>

<mat-dialog-content>
  <form [formGroup]="clientForm" class="form-container">
    
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Ej. Ana">
      <mat-error *ngIf="clientForm.get('name')?.hasError('required')">El nombre es obligatorio.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="lastName" placeholder="Ej. García">
      <mat-error *ngIf="clientForm.get('lastName')?.hasError('required')">El apellido es obligatorio.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Edad</mat-label>
      <input matInput type="number" formControlName="age" placeholder="Ej. 28">
      <mat-error *ngIf="clientForm.get('age')?.hasError('required')">La edad es obligatoria.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="clientForm.get('birthDate')?.hasError('required')">La fecha es obligatoria.</mat-error>
    </mat-form-field>

    <mat-error class="global-error" *ngIf="clientForm.hasError('ageMismatch') && (clientForm.get('age')?.dirty || clientForm.get('birthDate')?.dirty)">La edad ingresada no coincide con la fecha de nacimiento.</mat-error>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="clientForm.invalid">Guardar Cliente</button>
</mat-dialog-actions>