<ng-container *ngIf="state$ | async as state">

    <div *ngIf="state.error" class="error-container">
        <h2>¡Ups!</h2>
        <p>{{ state.error }}</p>
    </div>

    <div class="dashboard-container" *ngIf="!state.error">
        <div class="header-actions">
            <h1 class="page-title">Gestión de Clientes</h1>
            
            <button mat-button color="warn" (click)="logout()">
                <mat-icon>logout</mat-icon>
                Cerrar Sesión
            </button>
        </div>

        <div class="metrics-row">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Promedio de Edad</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content-center">
                    <mat-spinner *ngIf="state.loading" diameter="30"></mat-spinner>
                    <h2 *ngIf="!state.loading">{{ state.averageAge }} años</h2>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Desviación Estándar</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-content-center">
                    <mat-spinner *ngIf="state.loading" diameter="30"></mat-spinner>
                    <h2 *ngIf="!state.loading">{{ state.standardDeviation }}</h2>
                </mat-card-content>
            </mat-card>
            
        </div>

        <div class="content-row">

            <section class="actions-section">
                <button mat-raised-button color="primary" (click)="openAddClientModal()" [disabled]="state.loading">
                    + Crear Nuevo Cliente
                </button>
            </section>

            <section class="list-section">
                <div class="loading-shade" *ngIf="state.loading">
                    <mat-spinner diameter="40"></mat-spinner>
                </div>
                
                <app-client-list [clients]="state.clients"></app-client-list>
            </section>

        </div>
    </div>

</ng-container>